* {
  margin: 0;
  padding: 0;
}


html, body {
  background: #253237;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;    
}

.channel-container {
  background: #5c6b73;
  font-family: Teko, sans-serif;
  font-weight: 300;
  color: #9db4c0;
  width: 800px;
  border-radius: 2px;
  margin: 15px;
  padding: 7px;
  padding-bottom: 45px;
  position: relative;
}


.base-panel .knob-container {
  position: relative;
  margin-right: 15px;
  margin-top: 15px;
}

.envelope-container,
.oscillatorsettings-container {
  border: 1px solid #253237;
  border-radius: 2px;
  padding: 15px;
  margin: 15px 0;
  position: relative;
}

.envelope-name,
.oscillatorsettings-name {
  position: absolute;
  background: #5c6b73;
  padding: 3px;
  font-size: 14px;
  top: -13px;
}

.base-panel {
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}

.base-panel .visualizer {
  position: absolute;
  left: 0;
  top: 15px;
  height: 50px;
  width: 20px;
}

.visualizer {
  overflow: hidden;
  background: #3b4449;
  border: 1px solid #1d262b;
  border-radius: 2px;
}

.base-panel .visualizer canvas {
  width: 100%;
  height: 100%;
}


.ReactTabs__Tab {
  margin-top: 15px;
  list-style-type: none;
  display: inline-block;
  color: #253237;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}

.ReactTabs__Tab--selected {
  color: #9db4c0;
  background: #253237;
}

.ReactTabs__TabPanel {
  background: #253237;
  border-radius: 2px;
  padding: 15px 0;
}

.master-visualizer {
  position: fixed;
  top: 15px;
  right: 15px;
  bottom: 15px;
}

.envelope-visualizer {
  overflow: hidden;
  background: #3b4449;
  border: 1px solid #1d262b;
  border-radius: 2px;
}

.envelope-visualizer canvas {
  width: 100%;
  display: block;
}

.oscillator-name {
  text-transform: uppercase;
  font-size: 20px;
  color: #5c6b73;
  float: left;
  line-height: 80px;
  vertical-align: middle;
}

.oscillator-settings-container {
  text-align: right;
}

.waveform-selector-button {
  margin-bottom: 23px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  background: #5c6b73;
  display: inline-block;
  border: 1px solid #253237;
  border-left: 0;
}

.waveform-selector-button.sine {
  margin-left: 15px;
  border-radius: 2px 0 0 2px;
  border-left: 1px solid #253237;
}

.waveform-selector-button.triangle {
  margin-right: 15px;
  border-radius: 0 2px 2px 0;
}

.waveform-selector-button.selected {
  background: #253237;
  color: #5c6b73;
  border-color: #5c6b73;
}

.load-preset-button {
  float: right;
}
