* {
  margin: 0;
  padding: 0;
}


html, body {
  background: #253237;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;    
}

.channel-container {
  background: #5c6b73;
  font-family: Teko, sans-serif;
  font-weight: 300;
  color: #9db4c0;
  width: 500px;
  border-radius: 2px;
  margin: 15px;
  padding: 7px;
  padding-bottom: 45px;
  position: relative;
}


.base-panel .knob-container {
  margin-right: 15px;
  margin-top: 15px;
}
